/* reset */
* {
  box-sizing: border-box;
}
body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

li {
  list-style-type: none;
}

/* layout */
.wrapper {
  max-width: 1200px;
  margin: 50px auto;
}

.sidebar-title_container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* design */
body {
  color: darkgrey;
  background: url(./images/background.png);
}

.content {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}

.sidebar {
  background-image: url(./images/sidebar-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 220px;
  flex-shrink: 0;
  padding: 20px;
}

.sidebar-title {
  color: white;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  border-bottom: 10px solid rgba(255, 255, 255, 0.1);
}

.sidebar-icon {
  width: 30%;
}

.sidebar-description {
  margin: 20px 0;
  color: #636363;
}

.sidebar-link {
  display: block;
  text-align: center;
  background-color: lightgrey;
  color: grey;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.2em;
  padding: 0.3em;
  margin: 5px 0;
}

.sidebar-link.link_blue {
  background-color: dodgerblue;
  color: white;
}

.main {
  background-color: white;
  padding: 20px;
}

.common-title_container {
  display: flex;
  justify-content: space-between;
  border-bottom: 10px solid rgba(0, 0, 0, 0.1);
  align-items: center;
}

.common-title {
  font-size: 30px;
  font-weight: 900;
}

.view_icon {
  font-size: 13px;
  padding: 0.2em 1em;
  border-radius: 1em;
  background-color: #eee;
}

.coffee-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0 30px;
}

.coffee-list-item {
  max-width: 140px;
}

.coffee-list-cover {
  width: 100%;
}

.review-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.review-list-item {
  max-width: 300px;
  min-height: 250px;
  padding: 20px;
  background-color: #eee;
  border-radius: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review-name {
  color: black;
  text-align: right;
  /* space-between으로 떨어뜨리긴 했지만 컨텐츠 양이 더 많아졌을 때 간격을 주기 위해 작성했습니다. */
  margin-top: 30px;
}
